body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.head {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

.head h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.introduction {
    margin-bottom: 40px;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.character {
    width: 30%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.character-description {
    text-align: left;
    padding: 10px;
}
