body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.head {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}
footer ul{
  font-family:'Helvetica',"Arial",'sans-serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
footer ul li {
  display: inline;
  margin-right: 28px;
}

.head h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 0 15%; 
}
.title {
    text-align: left;
}

.title h2{
    margin: 0 0 20px 0;
}
.title p {
    margin: 0 0 20px 0;
}

.games {
    display: flex;
    flex-direction: column;
}

.game {
    display: flex;
    margin-bottom: 20px;
}

.game img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.description {
    flex-grow: 1;
}

.description h3 {
    margin-top: 0;
}
