body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.main-content {
    margin: 20px;
}

.title {
    text-align: left;
}

.title h2,
.title p {
    margin: 0 0 20px 0;
}

.games {
    display: flex;
    flex-direction: column;
}

.game {
    display: flex;
    margin-bottom: 20px;
}

.game img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.description {
    flex-grow: 1;
}

.description h3 {
    margin-top: 0;
}
